* {
    margin: 0;
    padding: 0;
}

svg {
    fill: #fff;
    height: 15px;
    width: 55px;
}

.hidden {
    display: none;
}

.active_tab {
    background: rgba(101, 137, 241, 0.5);
}

.proj_next_btn svg,
.proj_prev_btn svg {
    fill: var(--light-gray);
}

.feedback_next_btn svg,
.feedback_prev_btn svg {
    fill: var(--gray-btn);
}

.login-btn svg:hover {
    fill: var(--bg-btn);
}

.modal__btn-submit:hover {
    background: rgba(98, 98, 98, 0.7);
    box-shadow: 0px 4px 4px rgba(98, 98, 98, 0.25);
    -webkit-box-shadow: 0px 4px 4px rgba(98, 98, 98, 0.25);
    -moz-box-shadow: 0px 4px 4px rgba(98, 98, 98, 0.25);
}

h1,
h2,
h3,
h4,
p,
div,
span,
a {
    margin: 0;
    padding: 0;
}

.container,
.div {
    padding: 0;
}

@font-face {
    font-family: 'MontserratR';
    src: url(../fonts/Montserrat-Regular.ttf);
    font-weight: normal;
    font-style: normal;
    /* font-display: swap; */
}

@font-face {
    font-family: 'MontserratR';
    src: url(../fonts/Montserrat-Medium.ttf);
    font-weight: 500;
    font-style: normal;
    /* font-display: swap; */
}

 :root {
    --dark-gray: #3F3939;
    --light-gray: #DDDDDD;
    --bg-btn: #6589F1;
    --gray-btn: #626262;
    --font-gray: #979797;
}

body {
    font-family: 'MontserratR';
    color: #000;
}

button {
    border: none;
    background: none;
    font-family: 'MontserratR';
}

.btn-sq {
    padding: 17px 25px;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
}

.btn-blue {
    font-size: 16px;
    line-height: 20px;
    transition: all ease 0.5s;
    background: var(--bg-btn);
    color: #fff;
}

.btn-arrow {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    color: #FFFFFF;
    padding: 17px 25px;
    cursor: pointer;
}

.btn-arrow svg {
    margin-left: 20px;
}

input {
    transition: all ease 0.5s;
    background: #FFFFFF;
    border: 1px solid var(--light-gray);
    box-sizing: border-box;
    border-radius: 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.08em;
    color: var(--gray-btn);
    padding: 18px 25px;
    margin-right: 30px;
}

.scrollup {
    transition: all ease 0.5s;
    position: fixed;
    right: 5%;
    bottom: 15%;
    z-index: 999;
}

.scrollup img {
    max-width: 50px;
}


/* hovers */

.proj_next_btn:hover>svg {
    fill: var(--bg-btn);
}

.proj_prev_btn:hover>svg {
    fill: var(--bg-btn);
}

.feedback_next_btn:hover>svg {
    fill: var(--bg-btn);
}

.feedback_prev_btn:hover>svg {
    fill: var(--bg-btn);
}

.btn-transparent:hover>span {
    transition: all ease 0.2s;
    color: var(--bg-btn);
}

.btn-transparent:hover>span>svg {
    transition: all ease 0.2s;
    fill: var(--bg-btn);
}

.project__carousel img:hover {
    transition: all ease 0.5s;
    transform: scale(1.2);
}

.scrollup:hover {
    transition: all ease 0.5s;
    transform: scale(1.1);
}

input:hover {
    transition: all ease 0.5s;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

input:focus {
    outline: none;
    transition: all ease 0.5s;
    border: 1px solid var(--bg-btn);
}

input:active {
    outline: none;
    transition: all ease 0.5s;
    border: 1px solid var(--bg-btn);
}

input:invalid {
    border: 1px solid #FF0000;
}

input:-moz-submit-invalid {
    border: 1px solid #FF0000;
}

input:-moz-ui-invalid {
    border: 1px solid #FF0000;
}

textarea:hover {
    transition: all ease 0.5s;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

textarea:focus {
    outline: none;
    transition: all ease 0.5s;
    border: 1px solid var(--bg-btn);
}

textarea:active {
    outline: none;
    transition: all ease 0.5s;
    border: 1px solid var(--bg-btn);
}

textarea:invalid {
    border: 1px solid #FF0000;
}

textarea:-moz-submit-invalid {
    border: 1px solid #FF0000;
}

textarea:-moz-ui-invalid {
    border: 1px solid #FF0000;
}

.btn-blue:hover {
    transition: all ease 0.5s;
    box-shadow: 4px 4px 4px #626262;
    -webkit-box-shadow: 4px 4px 4px #626262;
    -moz-box-shadow: 4px 4px 4px #626262;
}

.price__card:hover {
    transition: all ease 0.2s;
    border: 2px solid var(--bg-btn);
}


/* style */

header {
    background: var(--dark-gray);
}

.header-container {
    margin: 0 auto;
    align-items: center;
    padding: 20px 0;
}

.header__logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header__logo .title {
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.header__logo .subtitle {
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.17em;
    color: #FFFFFF;
}

.header__logo img {
    width: 45;
    height: auto;
    object-fit: contain;
    margin-right: 10px;
}

.header__contacts {
    text-align: right;
}

.header__contacts .title {
    font-size: 12px;
    line-height: 20px;
    /* or 167% */
    text-align: right;
    color: #979797;
}

.header__contacts .contact a {
    text-decoration: none;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    text-align: right;
    letter-spacing: 0.08em;
    color: #FFFFFF;
}

.header__login-text {
    margin-right: 35px;
}

.header__login-text .enter {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    letter-spacing: 0.1em;
    color: #FFFFFF;
    padding-bottom: 4px;
}

.header__login-text .signup {
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.17em;
    color: #FFFFFF;
}

.header__login .login-btn button {
    cursor: pointer;
    padding: 8px 0;
}


/* header MENU */

.header__menu {
    background: rgba(90, 87, 87, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-left: none;
    border-right: none;
    box-sizing: border-box;
}

.header__menu-container {
    padding-top: 10px;
    padding-bottom: 20px;
}

.header__menu-container a {
    text-decoration: none;
    font-weight: normal;
    font-size: 18px;
    line-height: 35px;
    /* identical to box height, or 194% */
    letter-spacing: 0.08em;
    color: #FFFFFF;
}


/* STA section */

.section__cta {
    text-align: center;
    background-image: url(../img/bg-main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 150px;
}

.cta__content {
    text-align: center;
    background: rgba(63, 57, 57, 0.5);
    padding: 64px 140px 60px 140px;
    margin: 0 auto;
    margin-top: 90px;
}

.cta__content h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 57px;
    /* or 119% */
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.cta__content p {
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    /* or 117% */
    text-align: center;
    letter-spacing: 0.08em;
    color: #FFFFFF;
    margin-bottom: 80px;
}


/* Services */

.service__container {
    padding-bottom: 80px;
}

.service__title {
    text-align: center;
    padding-top: 50px;
}

.service__title h2 {
    font-weight: 500;
    font-size: 36px;
    line-height: 75px;
    /* identical to box height, or 208% */
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--dark-gray);
    margin-bottom: 4px;
}

.service__title p {
    font-size: 18px;
    line-height: 26px;
    /* or 144% */
    letter-spacing: 0.04em;
    color: var(--bg-btn);
    margin-bottom: 60px;
    text-align: left;
}

.services__item {
    margin-bottom: 30px;
}

.services__item .number {
    width: 10%;
    font-weight: normal;
    font-size: 48px;
    line-height: 20px;
    /* identical to box height, or 42% */
    text-align: center;
    letter-spacing: 0.08em;
    color: rgba(101, 137, 241, 0.3);
    margin-right: 60px;
}

.services__item p {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    letter-spacing: 0.04em;
    color: #000000;
    margin: 0;
}

.service__btn .btn-blue {
    margin-top: 15px;
}


/* Projects */

.project {
    background: rgb(101, 137, 241);
    background: linear-gradient(180deg, rgba(101, 137, 241, 0.5) 62%, rgba(255, 255, 255, 1) 62%);
}

.project__container {
    padding-top: 60px;
    padding-bottom: 55px;
    text-align: center;
}

.project__container h2 {
    font-weight: 500;
    font-size: 36px;
    line-height: 75px;
    /* identical to box height, or 208% */
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.project__carousel-wrapper {
    margin-top: 70px;
    margin-bottom: 40px;
}

div#project_slider .owl-stage-outer .owl-stage {
    padding: 40px 0;
}

.project-item img {
    /* background: #FFFFFF; */
    border: 1px solid #F4F4F4;
    box-sizing: border-box;
}

.carousel__wrapper img {
    width: 356px;
    height: 273px;
    object-fit: cover;
    border: 1px solid #F4F4F4;
    box-sizing: border-box;
}


/* Signup section */

.signup__section {
    background: #F4F4F4;
}

.signup__section-wrapper {
    max-width: 1270px;
    margin: 0 auto;
    text-align: center;
    padding-top: 45px;
    padding-bottom: 90px;
}

.signup__section-wrapper h2 {
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    /* or 117% */
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--bg-btn);
}

.signup__section-wrapper p {
    font-size: 18px;
    line-height: 29px;
    /* or 161% */
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--dark-gray);
    padding-right: 15%;
    padding-left: 15%;
    margin-top: 15px;
}

.signup__section-wrapper form {
    margin-top: 60px;
}


/* PRICE */

.price {
    padding-top: 70px;
    background-image: url(../img/bg-price.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.price__container {
    text-align: center;
    padding-top: 50;
    padding-bottom: 40px;
}

.price__container h2 {
    font-weight: 500;
    font-size: 36px;
    line-height: 60px;
    /* identical to box height, or 167% */
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.price__list {
    margin-top: 50px;
}

.price__card {
    transition: all ease 0.2s;
    min-height: 370px;
    width: 24%;
    background: #FFFFFF;
    border: 2px solid #626262;
    padding: 40px 40px 25px 40px;
}

.price__card-highlite {
    border-color: #fff;
    box-shadow: 0px 4px 40px 15px var(--bg-btn);
    -webkit-box-shadow: 0px 4px 40px 15px var(--bg-btn);
    -moz-box-shadow: 0px 4px 40px 15px var(--bg-btn);
}

.price__card .title {
    width: 100%;
    font-weight: 500;
    font-size: 24px;
    line-height: 26px;
    /* or 108% */
    text-align: center;
    letter-spacing: 0.08em;
    color: var(--bg-btn)
}

.price__card h3 {
    font-size: 24px;
    line-height: 26px;
}

.price__card .title .think {
    width: 100%;
    color: var(--dark-gray);
    font-weight: normal;
}

.price__card .title .bold {
    width: 100%;
    color: var(--dark-gray);
    font-weight: 500;
}

.price__card .description {
    width: 100%;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.08em;
    color: var(--dark-gray);
}

.price__card .last-price {
    width: 100%;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.08em;
    color: var(--light-gray);
    position: relative;
}

.price__card .last-price::before {
    border-bottom: 1px solid #626262;
    position: absolute;
    content: "";
    width: 40%;
    height: 70%;
    transform: rotate(-22deg);
}

.price__card .curr-price {
    width: 100%;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.08em;
    color: var(--bg-btn);
}

.price__card .cta-signin,
.price__card .cta_signup {
    width: 100%;
}

.price__card .cta {
    height: 96px;
    margin-top: 25px;
    width: 100%;
}

.price__card .btn-blue {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

button.btn-transparent svg {
    transition: all ease 0.2s;
    fill: #626262;
}

button.btn-transparent {
    transition: all ease 0.2s;
    color: var(--dark-gray);
    margin-top: 10px;
}

.price__description p {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.blue-href {
    color: var(--bg-btn);
    cursor: pointer;
}

.price__after h3 {
    color: #fff;
    margin: 40px 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    /* identical to box height, or 125% */
    text-align: center;
    letter-spacing: 0.04em;
}

.price__after-profit {
    margin-top: 46px;
    color: #fff;
}

.profit-item {
    margin-bottom: 46px;
}

.profit-item img {
    margin-right: 40px;
}

.profit-item span {
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    letter-spacing: 0.04em;
}


/* Реклама */

.advertising {
    color: var(--gray-btn);
    background: #F4F4F4;
    text-align: center;
    font-size: 30px;
    line-height: 37px;
    /* identical to box height */
    letter-spacing: 0.08em;
    padding-top: 70px;
    padding-bottom: 85px;
}


/*Пратнер*/

.partner {
    padding-bottom: 60px;
    background: rgb(244, 244, 244);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 60%, rgba(244, 244, 244, 1) 60%);
}

.partner__container {
    background-color: #fff;
    margin-top: 40px;
    border: 1px solid #BFBFBF;
    padding: 0;
    padding-bottom: 15px;
}

.partner__container h2 {
    background: rgba(101, 137, 241, 0.5);
    color: #fff;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    letter-spacing: 0.04em;
    padding: 14px 0;
}

.partner__container .description {
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #000000;
    margin-top: 28px;
    margin-bottom: 46px;
}

.partner__profit-item {
    font-size: 16px;
    line-height: 30px;
    /* or 162% */
    letter-spacing: 0.04em;
    color: var(--dark-gray);
    margin-bottom: 25px;
}

.partner__profit-img {
    padding-left: 30px !important;
}

.partner__profit-item .profit__icon {
    width: 10%;
}

.partner__profit-item .profit__text {
    width: 90%;
}


/* Отзывы */

.feedback {
    background: rgb(244, 244, 244);
    background: linear-gradient(180deg, rgba(244, 244, 244, 1) 65%, rgba(255, 255, 255, 1) 65%);
}

.feedback__container h2 {
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */
    letter-spacing: 0.04em;
    color: var(--dark-gray);
    margin-bottom: 16px;
}

.feedback__container .description {
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #000000;
}

.feedback__container .carousel-control {
    margin-top: 50px;
    margin-bottom: 45px;
}

.feedback__card {
    /* width: 30%; */
    background-color: var(--light-gray);
    padding: 30px 30px 30px 40px;
    margin: 0 10px;
}

.feedback__card img {
    width: auto;
}

.feedback__card-img {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.feedback__card .name {
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 187% */
    letter-spacing: 0.08em;
    margin-top: 11px;
    margin-bottom: 6px;
    color: #000;
}

.feedback__card .title {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    /* or 187% */
    text-align: center;
    letter-spacing: 0.08em;
    margin-bottom: -15px;
    color: #000;
}

.feedback__card .review .text {
    font-size: 16px;
    line-height: 30px;
    /* or 187% */
    text-align: center;
    letter-spacing: 0.08em;
    color: #575757;
}


/* Форма задать вопрос */

.callback {
    margin-top: 70px;
    margin-bottom: 40px;
}

.callback h2 {
    font-size: 24px;
    line-height: 30px;
    /* identical to box height, or 125% */
    letter-spacing: 0.04em;
    color: var(--dark-gray);
    margin-bottom: 38px;
}

form#callback input {
    margin-right: 0px;
    width: 100%;
    margin-bottom: 26px;
}

form#callback textarea {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid var(--light-gray);
    box-sizing: border-box;
    border-radius: 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.08em;
    color: var(--gray-btn);
    padding: 18px 25px;
}

form#callback p {
    margin-top: 12px;
    margin-bottom: 26px;
    font-size: 12px;
    line-height: 20px;
    /* or 167% */
    letter-spacing: 0.08em;
}

form#callback a {
    text-decoration: none;
    color: var(--bg-btn);
}


/* footer */

footer {
    background-color: var(--dark-gray);
    padding: 15px 0;
}

footer a {
    text-decoration: none;
}

.footer__text {
    margin-left: 10px;
}

.footer__text .title {
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.footer__text .subtitle {
    font-size: 10px;
    line-height: 12px;
    /* identical to box height */
    letter-spacing: 0.17em;
    color: #FFFFFF;
}

.footer__contacts .policy {
    margin-top: 27px;
}

.footer__contacts .title {
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    letter-spacing: 0.08em;
    color: #979797;
}

.footer__contacts .contact a {
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    letter-spacing: 0.08em;
    color: #FFFFFF;
}

.footer__policy .title {
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    letter-spacing: 0.08em;
    color: #979797;
}

.footer__social {
    padding-left: 30px;
}


/* MODAL */

.modal-content {
    border-radius: 0;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
}

.modal-content .modal-header,
.modal-content .modal-body,
.modal-content .modal-footer {
    padding: 0px;
    border: none;
}

.modal-content .modal-body {
    padding: 25px 35px 40px 35px;
    border: none;
}

.modal__signin .modal-content {
    padding: 35px;
}

form#form_modal_signin input,
form#form_modal_signin_only input {
    width: 100%;
    margin-bottom: 30px;
}

.modal__tab {
    padding: 30px 20px;
    border: 1px solid #DFDFDF;
    border-top: none;
    box-sizing: border-box;
}

.forgot-pass {
    margin: 15px 0px 60px 0px;
}

.forgot-pass a {
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    letter-spacing: 0.08em;
    text-decoration-line: underline;
    color: var(--gray-btn);
}

.modal__btn-submit {
    background: #626262;
    color: #fff;
    padding: 18px 30px;
    width: 70%;
}

.text-or {
    margin: 24px 0;
    color: #626262;
}

.social__auth {
    width: 70%;
    margin: 0 auto;
}

.tab__button {
    font-size: 24px;
    line-height: 35px;
    /* identical to box height, or 146% */
    text-align: center;
    letter-spacing: 0.04em;
    color: #000000;
    border: 1px solid #DDDDDD;
    padding: 12px 0;
    cursor: pointer;
}

form#form_modal_signup input,
form#form_modal_signup_only input {
    width: 100%;
    margin-bottom: 30px;
}

.modal__title {
    margin-bottom: 50px;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #000000;
}


/* Modal callback */

form#form_modal_callback input[type="text"],
form#form_modal_callback input[type="email"] {
    margin: 0;
    width: 100%;
    margin-bottom: 26px;
}

form#form_modal_callback .subscribe {
    margin-bottom: 16px;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height, or 167% */
    letter-spacing: 0.08em;
    color: #000000;
}


/* modal__confirm */

.modal__confirm {
    background-color: #fff;
    width: 100%;
    padding: 50px 0;
    z-index: 999;
    position: fixed;
    bottom: 0;
    left: 0;
    -webkit-box-shadow: 0px -1px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px -1px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px -1px 10px 0px rgba(50, 50, 50, 0.75);
    animation-name: slideUp;
    -webkit-animation-name: slideUp;
    animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
    visibility: visible !important;
}

.modal__confirm-header {
    display: flex;
    justify-content: end;
    padding-bottom: 20px;
}

.modal__confirm p {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.08em;
    color: #000000;
}

.modal-confirm-body a {
    text-decoration: underline;
    color: var(--bg-btn);
}

.callback__policy {
    font-size: 12px;
    line-height: 20px;
    /* or 167% */
    letter-spacing: 0.08em;
    color: #000000;
    margin-bottom: 30px;
}

.callback__policy a {
    text-decoration: none;
    color: var(--bg-btn);
}


/* OWL */

.owl-carousel .owl-item img {
    width: auto;
    display: inline;
}

.owl-theme .owl-dots {
    display: none;
}

.form__msg {
    padding: 30px;
    font-weight: 500;
}

.modal__msg {
    animation-name: slideUp;
    -webkit-animation-name: slideUp;
    animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
    visibility: visible !important;
    padding: 30px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: brown;
    text-align: center;
    color: #fff;
    font-weight: 500;
    z-index: 9990;
}

.modal__msg-text {
    justify-content: center;
}


/* CHECKBOX */

input#subscribe {
    margin-right: 20px;
}

input.hidden-checkbox {
    border: none;
    background: none;
}

input.hidden-checkbox:hover {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.custom-checkbox {
    display: flex;
    align-items: center;
}

.custom-checkbox .checkbox {
    margin-right: 10px;
}

.custom-checkbox input {
    -webkit-appearance: none;
    position: absolute;
}

.checkbox {
    position: relative;
    width: 20px;
    height: 20px;
    border: 1px solid var(--light-gray);
    background: #fff;
}

.checkbox:hover {
    transition: all ease 0.5s;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.checkmark {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: auto;
    display: none;
}

.custom-checkbox input:checked~.checkbox .checkmark {
    display: block;
}

.custom-checkbox input:checked~.checkbox {
    background: #FFF;
    border: 1px solid var(--light-gray);
}


/* ANIMATIONS */

@keyframes slideUp {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}